# Git ignore for RedMagic 8 Pro development
*.log
*.tmp
*.bin
*.img
!tools/Mu-nx729j.img
*.tar.gz
*.tar.xz
*.raw
backups/*
!backups/.gitkeep
!backups/abl_a_stock.elf
!backups/abl_b_stock.elf
firmware/*
!firmware/.gitkeep
!firmware/*.md
!firmware/esp_v2.img
__pycache__/
*.pyc
*.bak*
tools/busybox*
tools/ld-musl.so
tools/pmos_boot_unpacked/
tools/shellaa64.efi
