set default=0
set timeout=5

insmod part_gpt
insmod fat
insmod ext2
insmod search
insmod search_fs_file
insmod search_fs_uuid
insmod search_label
insmod linux
insmod fdt

menuentry 'postmarketOS (Phosh / Linux Mainline)' {
    search --no-floppy --set=root --label ESP
    devicetree /boot/board.dtb
    linux /boot/vmlinuz quiet splash plymouth.ignore-serial-consoles plymouth.prefer-fbcon pmos_boot_uuid=0AB6-2552 pmos_root_uuid=99282e4c-7999-4f66-a5b4-d054120181e5 pmos_rootfsopts=defaults console=ttyMSM0,115200 console=tty0
    initrd /boot/initramfs
}

menuentry 'postmarketOS (Verbose Debug)' {
    search --no-floppy --set=root --label ESP
    devicetree /boot/board.dtb
    linux /boot/vmlinuz earlycon console=ttyMSM0,115200 console=tty0 pmos_boot_uuid=0AB6-2552 pmos_root_uuid=99282e4c-7999-4f66-a5b4-d054120181e5 pmos_rootfsopts=defaults
    initrd /boot/initramfs
}
